
* {
    box-sizing: border-box;
  }

body {
    background-image: url("../images/congruent_pentagon.png");
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

.wrapper {
    flex: 1 0 auto;    
}

/* Header and Navigation */

.name {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 25px;
    margin: 20px 120px 0 20px;
    float: left;
    position: absolute;
    top: 0;
    height: 86px;
    width: 270px;
}

nav {
    padding: 20px 80px 0 20px;
    margin: 20px 60px 0 150px;
    font-size: 18px;
    position: relative;
    left: 560px;
}

#about-nav {
    float: left;
}

#about-nav:hover {
    color: #4aaaa5;
}

.line-1 {
    height: 100%;
    width: 1px;
    background: #777777;
    top: 35px;
    left: 98px;
    position: absolute;
    opacity: .2;
}

#portfolio-nav {
    float: left;
}

#portfolio-nav:hover {
    color: #4aaaa5;
}

.line-2 {
    height: 100%;
    width: 1px;
    background: #777777;
    top: 35px;
    left: 193px;
    position: absolute;
    opacity: .2;
}

#contact-nav {
    float: left;
}

#contact-nav:hover {
    color: #4aaaa5;
}

.clearfix {
    clear: both;
}

.header {
    position: absolute;
    width: 100%;
    height: 108px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-color: rgb(119,119,119,.3);
    border-bottom-width: 2px;
}

a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
    padding: 15px;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* Main Content Container - all pages */

.section-heading {
    color: #4aaaa5;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: rgb(119,119,119,.5);
    padding: 30px 15px 15px 0;
}

.container {
    width: 960px;
    background-color: #ffffff;
    position: relative;
    top: 50px;
    margin-top: 110px;
    margin-left: 20px;
    padding: 0 30px 40px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(119,119,119,.5);
}

/* About Page */

#bio-image {
    float: left;
    padding: 10px 20px 10px 10px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 0 10px 10px 10px;
    line-height: 2;
    margin: 0 auto;
    font-size: 18px;
}

/* Contact Page */

.contact-box {
    width: 100%;
}

.label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

input,
textarea {
    margin-top: 8px;
    font-size: 14px;
}

#msg {
    border-color: rgb(119,119,119,.5);
}

button {
    background-color: #4aaaa5;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 25px;
    margin-bottom: 20px;
    border-style: none;
}

button:hover {
    transform: scale(1.075);
}

textarea {
    height: 150px;
}

/* Projects Page */

#projects-container {
    width: 960px;
    padding-top: 15px;
}

.image {
    width: 300px;
    height: 260px;
    position: relative;
    margin: 20px 30px 20px 0;
}

.Hangman {
    position: absolute;
    left: 30px;
    top: 355px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    background-color: #4aaaa5;
    width: 300px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

.Hangman:hover {
    background-color: #357F51;
}

.RPG {
    position: absolute;
    left: 364px;
    top: 355px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    background-color: #4aaaa5;
    width: 300px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

.RPG:hover {
    background-color: #357F51;
}

.Trivia {
    position: absolute;
    left: 30px;
    top: 660px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    background-color: #4aaaa5;
    width: 300px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

.Trivia:hover {
    background-color: #357F51;
}

.Rutgers {
    position: absolute;
    left: 364px;
    top: 660px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    background-color: #4aaaa5;
    width: 300px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

.Rutgers:hover {
    background-color: #357F51;
}

.Rock-Paper_Scissors {
    position: absolute;
    left: 30px;
    top: 960px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    background-color: #4aaaa5;
    width: 300px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

.Rock-Paper_Scissors:hover {
    background-color: #357F51;
}

/* Footer */
.footer {
    flex-shrink: 0;
    height: 40px;
    background-color: #666666;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    border-top: 8px solid #4aaaa5;
    margin-top: 120px;
}

/* Media Queries */

@media screen and (max-width: 980px) {
    .container {
        width: 700px;
    }

    .wrapper {
        width: 100vw;
    }

    .header {
        margin-top: -20px;
    }

    nav {
        position: relative;
        left: 520px;
    }
    #bio-image {
        width: 50%;
        margin: auto;
    }
    
    p {
        font-size: 1.1em;
    }

    .image-title {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 768px) {

    .container {
        width: 700px;
        margin-top: 90px;
    }

    .wrapper {
        width: 100vw;
    }

    .header {
        margin-top: -20px;
    }

    nav {
        position: relative;
        left: 300px;
    }

    #bio-image {
        width: 60%;
        margin: auto;
    }

    p {
        font-size: 1.2em;
    }

    .image-title {
        font-size: 1.4em;
    }

    .label {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 640px) {
    /* Header and Nav */
    .header {
        position: static;
        height: 140px;
    }
    .name {
        position: static;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    nav {
        position: static;
    }

    .line-1 {
        height: 20px;
        position: relative;
        top: 80px;
        left: 75px;
    }

    .line-2 {
        height: 20px;
        position: relative;
        top: 60px;
        left: 175px;
    }

    /* Main Content */
    .container {
        width: 580px;
        margin: auto;
    }

    .wrapper {
        width: 100vw;
    }

    /* About Page */
    #bio-image {
        width: 100%;
        margin: auto;
    }

    p {
        clear: left;
        padding-top: 10px;
        font-size: 1.3em;
    }

    /* Portfolio Page */
    .image {
        width: 90%;
        height: 404px;
        margin: auto;
    }

   .image-title {
        display: block;
        position: relative;
        width: 90%;
        top: -70px;
        left: 0;
        font-size: 1.5em
    }
    
    #projects-container {
        width: 580px;
    }

    .label {
        font-size: 1.2em;
    }
}